$color: red;
$font_size: 25px;
@import "./_partial.scss";


@mixin font-boilerplate {
	font-family: 'Comic Sans';
	font-size: $font_size;
	color: $color;
	font-weight: 700;
	font-style: italic;
}

h1{
	@include font-boilerplate;
}
.message {
	border: 1px solid green;
	padding: 13px;
}
.error {
	border: 1px solid red;
}
div {
	&:hover{
		background-color: black;
	}
	a{
		color: red;
		&:hover{
			color: pink;
		}
	}
}
